<html>

<body style="min-height: 1500px">
  <h2 class="h2-wedding-party" style="padding-bottom: 60px">Coming soon!</h2>
  <!--
  <h2 class="h2-wedding-party">
    The Wedding Party
  </h2>

  <h3 class="h3-wedding-party">
    The Bridesmaids
  </h3>

  <div class="row">
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
  </div>

  <h3 class="h3-wedding-party">
    The Groomsmen
  </h3>

  <div class="row">
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
    <div class="column">
      <img src="/assets/photos/test.png">
      <img src="/assets/photos/test.png">
    </div>
  </div>
-->

</body>

</html>
