body {
  padding-top: 65px;
  background-image: url("/assets/photos/97007.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

.h2-wedding-party {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: black;
  text-shadow: 2px 2px #cccccc;
  text-align: center;
}

.h3-wedding-party {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  color: #cccccc;
  text-align: center;
  text-shadow: 2px 2px black;
}

.p-body {
  font-size: 30px;
  color: #cccccc;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  display: inline-block;
  float: none;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  text-align: center;
}

.column img {
  width: 14%;
  margin: 8px 5px 0px 5px;
  vertical-align: middle;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .column img {
    width: 42%;
    margin: 8px 5px 0px 5px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .column img {
    width: 27%;
    margin: 8px 5px 0px 5px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 600px) {
  .column imgKids {
    width: 50%;
    margin: 8px 5px 0px 5px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 800px) {
  .column imgKids {
    width: 50%;
    margin: 8px 5px 0px 5px;
    vertical-align: middle;
  }
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3px;
  margin-top: -3px;
}
