<!doctype html>
<html>

<body style="min-height: 1500px">
  <!--
  <h2 class="h2-wedding-party" style="padding-bottom: 60px">Coming soon!</h2>
-->

  <h2 class="h2-wedding-party">
    The Wedding Party
  </h2>

  <h3 class="h3-wedding-party">
    The Bridesmaids
  </h3>

  <div class="row">
    <div class="column">
      <img src="/assets/photos/WeddingParty/Kelsey.png">
      <img src="/assets/photos/WeddingParty/Patty.png">
      <img src="/assets/photos/WeddingParty/Bridget.png">
      <img src="/assets/photos/WeddingParty/Ali.png">
      <img src="/assets/photos/WeddingParty/Tori.png">
      <img src="/assets/photos/WeddingParty/Ally.png">
    </div>
  </div>

  <h3 class="h3-wedding-party">
    The Groomsmen
  </h3>

  <div class="row">
    <div class="column">
      <img src="/assets/photos/WeddingParty/Tytus.png">
      <img src="/assets/photos/WeddingParty/Jake.png">
      <img src="/assets/photos/WeddingParty/Brian.png">
      <img src="/assets/photos/WeddingParty/Adam.png">
      <img src="/assets/photos/WeddingParty/Dan.png">
      <img src="/assets/photos/WeddingParty/Caleb.png">
    </div>
  </div>

  <h3 class="h3-wedding-party">
    The Kiddos
  </h3>

  <div class="row">
    <div class="column">
      <img class="imgKids" src="/assets/photos/WeddingParty/Elliana.png">
      <img class="imgKids" src="/assets/photos/WeddingParty/Elise.png">
      <img class="imgKids" src="/assets/photos/WeddingParty/Wyatt.png">
      <img class="imgKids" src="/assets/photos/WeddingParty/Weston.png">
    </div>
  </div>


</body>

</html>
