<html>

<body style="min-height: 1500px">
  <h2 class="h2-wedding-details" style="color: black">Wedding Details</h2>

  <div class="example" style="word-break: break-all">
    <p>CEREMONY Anderson Hills United Methodist Church 7515 Forest Rd, Cincinnati, OH 45255 5:30 PM
    </p>
    <p>RECEPTION Drees Pavillion 790 Park Ln, Covington, KY 41011 7:00 PM
    </p>
    <p>HOTEL ACCOMODATIONS Courtyard by Marriott Cincinnati Covington 500 W 3rd St, Covington, KY 41011 Ask for Osborne/Poston
      block rate A shuttle will run between the hotel and Drees LINK
    </p>
  </div>

</body>

</html>
