body {
  padding-top: 65px;
  background-image: url("/assets/photos/Mt_Storm_4.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px #cccccc;
}

img {
  border-radius: 25px;
}

.h2-wedding-details {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: black;
  text-shadow: 2px 2px #cccccc;
  text-align: center;
}

.h3-wedding-details {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  color: #cccccc;
  text-align: center;
  text-shadow: 2px 2px black;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3px;
  margin-top: -3px;
}

@media (min-width: 1400px) {
  .example {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (min-width: 800px) and (max-width: 1400px) {
  .example {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (max-width: 800px) {
  .example {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

.center {
  display: block;
  margin: auto;
  width: 70%;
}
