<html>

<body style="min-height: 1500px">
  <h2 class="h2-wedding-details" style="padding-bottom: 60px">Wedding Details</h2>

  <div class="example" style="overflow: hidden; white-space: nowrap">
    <a target="_blank" href=" http://www.andersonhills.org/">
      <img src="/assets/photos/ahumc.jpg" alt="AndersonHillsUnitedMethodistChurch" class="center">
    </a>
    <h3 class="h3-wedding-details ">CEREMONY</h3>
    <p style="white-space: normal">Anderson Hills United Methodist Church
      <br/>7515 Forest Rd, Cincinnati, OH 45255
      <br/>5:30 PM
    </p>
    <a target="_blank" href="http://dreespavilion.com/">
      <img src="/assets/photos/drees.jpg" alt="DreesPavilion" class="center">
    </a>
    <h3 class="h3-wedding-details ">RECEPTION</h3>
    <p style="white-space: normal">Drees Pavilion
      <br/>790 Park Ln, Covington, KY 41011
      <br/>7:00 PM
    </p>
    <a target="_blank" href="https://www.marriott.com/hotels/travel/cvgcy-courtyard-cincinnati-covington/">
      <img src="/assets/photos/courtyard.jpg" alt="CourtyardCincinnatiCovington" class="center">
    </a>
    <h3 class="h3-wedding-details ">ACCOMODATIONS</h3>
    <p style="white-space: normal">Courtyard by Marriott Cincinnati Covington
      <br/>500 W 3rd St, Covington, KY 41011
      <br/>(859) 491-4000
      <br/>A block of rooms is being held at the Courtyard under Poston/Osborne
      <br/>Please book by October 25 to secure group rate
    </p>
    <!--
    <a href="explore-cincinnati">
      <img src="/assets/photos/test.png" alt="ExploreCincinnati" class="center">
    </a>
    <h3 class="h3-wedding-details ">EXPLORE CINCINNATI</h3>
    <p>Check out our suggestions on the local area
      <br/>Click the image to see what is nearby
    </p>
  -->
  </div>

</body>

</html>
