<html>

<body style="min-height: 1500px">
  <h2 class="h2-wedding-details">Registry</h2>

  <div class="example" style="overflow: hidden">
    <a target=" _blank " href="https://www.zola.com/registry/trevorandkate ">
      <img src="/assets/photos/zola.png " alt="Zola " class="center ">
    </a>
    <h3 class="h3-wedding-details ">Zola</h3>
    <a target="_blank " href="https://www.amazon.com/wedding/share/trevorandkate ">
      <img src="/assets/photos/amazon.png " alt="Amazon " class="center ">
    </a>
    <h3 class="h3-wedding-details ">Amazon</h3>
    <a target="_blank " href="# ">
      <img src="/assets/photos/kohls.png " alt="Kohls " class="center ">
    </a>
    <h3 class="h3-wedding-details ">Kohl's</h3>
    <a target="_blank " href="https://www.dominosweddingregistry.com/registry/registry-6125 ">
      <img src="/assets/photos/dominos.png " alt="Dominos " class="center ">
    </a>
    <h3 class="h3-wedding-details ">Domino's</h3>
  </div>

</body>

</html>
