body {
  padding-top: 65px;
  background-image: url("/assets/photos/Pizza_4-1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #cccccc;
  text-shadow: 1px 1px black;
}

img {
  border-radius: 25px;
}

.h2-wedding-details {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: black;
  text-shadow: 2px 2px #cccccc;
  text-align: center;
}

.h3-wedding-details {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  color: #cccccc;
  text-align: center;
  text-shadow: 2px 2px black;
}

.p-body {
  font-size: 30px;
  color: #cccccc;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3px;
  margin-top: -3px;
}

@media (min-width: 1200px) {
  .example {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .example {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (max-width: 600px) {
  .example {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

.center {
  display: block;
  margin: auto;
  width: 80%;
}
