<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0px">
  <div class=" container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trevor and Kate</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/wedding-party">Wedding Party</a>
      </li>
      <li>
        <a routerLink="/temp">temp</a>
      </li>
      <li>
        <a routerLink="/registry">Registry</a>
      </li>
    </ul>
    <a href="https://rsvpify.com/">
      <button class="btn btn-danger navbar-btn">RSVP</button>
    </a>
  </div>
</nav>





<div class="app-content ">
  <router-outlet></router-outlet>
</div>
