<html>

<body style="min-height: 1500px">
  <h2 class="h2-explore" style="padding-top: 200px">Explore Cincinnati</h2>
  <div class="p-blurb">
    Please enjoy our favorite places and activities during your stay here in Cincinnati, Ohio!
  </div>
  <h3 class="h3-explore">
    Food and Drinks!
  </h3>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/skyline2.jpg" alt="Skyline">
    </a>
    <div class="desc">Skyline Chili</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/condado2.jpg" alt="The Eagle">
    </a>
    <div class="desc">Condado</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/theeagle2.jpg" alt="The Eagle">
    </a>
    <div class="desc">The Eagle</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/tob2.png" alt="The Eagle">
    </a>
    <div class="desc">Taste of Belgium</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/skyline2.jpg" alt="Skyline">
    </a>
    <div class="desc">Skyline Chili</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/condado2.jpg" alt="The Eagle">
    </a>
    <div class="desc">Condado</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/theeagle2.jpg" alt="The Eagle">
    </a>
    <div class="desc">The Eagle</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/tob2.png" alt="The Eagle">
    </a>
    <div class="desc">Taste of Belgium</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/skyline2.jpg" alt="Skyline">
    </a>
    <div class="desc">Skyline Chili</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/condado2.jpg" alt="The Eagle">
    </a>
    <div class="desc">Condado</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/theeagle2.jpg" alt="The Eagle">
    </a>
    <div class="desc">The Eagle</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/tob2.png" alt="The Eagle">
    </a>
    <div class="desc">Taste of Belgium</div>
  </div>

  <h3 class="h3-explore">
    Site Seeing!
  </h3>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/skyline2.jpg" alt="Skyline">
    </a>
    <div class="desc">Skyline Chili</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/condado2.jpg" alt="The Eagle">
    </a>
    <div class="desc">Condado</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/theeagle2.jpg" alt="The Eagle">
    </a>
    <div class="desc">The Eagle</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="">
      <img src="/assets/photos/tob2.png" alt="The Eagle">
    </a>
    <div class="desc">Taste of Belgium</div>
  </div>

</body>

</html>
