<html>

<body style="min-height: 1500px">
  <h2 class="h2-explore" style="padding-top: 200px">Explore Cincinnati</h2>
  <div class="p-blurb" style="padding: 4px">
    Please enjoy our favorite places and activities during your stay here in Cincinnati, Ohio
  </div>
  <h3 class="h3-explore">
    Food and Drinks
  </h3>

  <div class="gallery">
    <a target="_blank" href="https://www.skylinechili.com/">
      <img src="/assets/photos/skyline2.jpg" alt="Skyline">
    </a>
    <div class="desc">Skyline Chili</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://www.condadotacos.com/">
      <img src="/assets/photos/condado2.jpg" alt="Condado">
    </a>
    <div class="desc">Condado</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://eaglerestaurant.com/">
      <img src="/assets/photos/theeagle2.jpg" alt="The Eagle">
    </a>
    <div class="desc">The Eagle</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://www.authenticwaffle.com/">
      <img src="/assets/photos/tob2.png" alt="TOB">
    </a>
    <div class="desc">Taste of Belgium</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://www.liberty-center.com/">
      <img src="/assets/photos/libcen2.png" alt="LibCen">
    </a>
    <div class="desc">Liberty Center</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://www.graeters.com/">
      <img src="/assets/photos/graeters2.png" alt="Graeters">
    </a>
    <div class="desc">Graeter's Ice Cream</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://www.maplewoodkitchenandbar.com/">
      <img src="/assets/photos/maplewood2.png" alt="Maplewood">
    </a>
    <div class="desc">Maplewood Kitchen and Bar</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://keystonebar.com/">
      <img src="/assets/photos/keystone2.png" alt="Keystone">
    </a>
    <div class="desc">Keystone Bar and Grill</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://deweyspizza.com/">
      <img src="/assets/photos/deweys2.png" alt="Dewey's Pizza">
    </a>
    <div class="desc">Dewey's Pizza</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://taftsalehouse.com/">
      <img src="/assets/photos/tafts2.png" alt="Taft's Ale House">
    </a>
    <div class="desc">Taft's Ale House</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://rhinegeist.com/">
      <img src="/assets/photos/rhine2.png" alt="Rhinegeist Brewery">
    </a>
    <div class="desc">Rhinegeist Brewery</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://otrchamber.com/">
      <img src="/assets/photos/otr2.png" alt="OTR (Over-the-Rhine)">
    </a>
    <div class="desc">OTR (Over-the-Rhine)</div>
  </div>

  <h3 class="h3-explore">
    Site Seeing
  </h3>

  <div class="gallery">
    <a target="_blank" href="https://www.newportaquarium.com/">
      <img src="/assets/photos/newport2.png" alt="Newport Aquarium">
    </a>
    <div class="desc">Newport Aquarium</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://www.cincymuseum.org/childrensmuseum">
      <img src="/assets/photos/childrens2.png" alt="Children's Museum">
    </a>
    <div class="desc">Children's Museum</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://cincinnatiusa.com/things-to-do/attractions/carew-tower-observation-deck">
      <img src="/assets/photos/carew2.png" alt="Carew Tower">
    </a>
    <div class="desc">Carew Tower</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="http://www.cincinnatiparks.com/smale-riverfront-park/">
      <img src="/assets/photos/smale2.png" alt="Smale Park">
    </a>
    <div class="desc">Smale Park</div>
  </div>

</body>

</html>
