body {
  padding-top: 50px;
  background-image: url("/assets/photos/Gano_Alley_2.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

.p-story {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px #cccccc;
  position: relative;
  width: 70%;
  margin: auto;
  border-radius: 25px;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}

.h1-home {
  font-family: 'Amatic SC', cursive;
  font-size: 200px;
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .h1-home {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

.h2-home {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: #cccccc;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .h2-home {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #cccccc;
    text-align: center;
  }
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3px;
  margin-top: -3px;
}

/deep/ .countdown {
  width: 100%;
  height: 100px;
  background: #cccccc;
  opacity: 0.7;
}

.two-dots {
  display: none;
}

/deep/ .measurements {
  color: black;
  font-weight: bolder;
  margin-right: 5px;
  padding: 10px;
}

/deep/ .divider {
  font-size: 20px;
}
